/* CSS Reset */
*{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: sticky;
    top: 0;
}
/* #navbar::before{
    content: "";
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
} */

#logo{
    margin: 10px 34px;
}

#logo img{
    /* border: 2px solid black; */
    height: 70px;
    width: 170px;
    margin: 3px 6px;
}

/* #navbar ul{
    display: flex;
    position: absolute;
    right: 20px;
}  */
/* #navbar ul li{
    list-style: none;
    font-size: 1rem;
    margin: auto;
} */
/* #navbar ul li img{
    display: flex;
    color: white;
    height: 30px;
    margin: auto;
    border: 1px solid white;
    border-radius: 15px;
} */

/* #navbar ul li a{
    margin: auto 5px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-decoration: none;
}
#navbar ul li:hover{
    color: white;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
} */

#navbar ul{
    position: absolute;
    right: 20px;
    display: flex;
    list-style: none;
}
#navbar ul li{
    margin-top: 15px;
}

#navbar ul li button{
    margin: 3px 20px;
    color: rgb(117, 116, 116);
    text-decoration: none;
    display: flex;   
}
#navbar ul li button:hover{
    cursor: pointer;
    color: rgb(55, 55, 55);   
}
#navbar ul li button span{
    margin-top: -3px;
    margin-left: 5px;
    font-size: 15px;
}
button{
    border: none;
    background-color: white;
    cursor: pointer;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: black;
}
/* Home Page */
/* #home{
    width: 100%;
    height: 600px;
} */
#head{
    position: relative;
    top: auto;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#head::before{
    content: "";
    background: url('bg.png') no-repeat center center/cover;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(bg.png);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* #bg{
    width: 100%;
    height: 63vh;
    background-image: linear-gradient(rgba(28, 28, 28, 0.7), rgba(30, 29, 29, 0.7)), url(../img/bg.png);
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 58px;
    z-index: -1;
} */

h1{
    margin: 30px;
    font-size: 40px;
}
#search{
    width: 450px;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
}
input[type]{
    font-size: 18px;
    padding: 6px;
}

/* Cities */
#city{
    height: 400px;
    /* background-color: whitesmoke; */
    justify-content: center;
    align-items: center;    
}
#city::before{
    content: "";
    background-color: whitesmoke;
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
}
.primary{
    padding: 25px;
    text-shadow: 3px 3px 3px rgb(137, 134, 134);
    align-items: center;
    text-align: center;
}
.cities{
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
}
.cities .citybox{
    margin: 30px;
    padding: 30px;
}
.cities .citybox img{
    height: 120px;
    margin: 5px;
    display: inline;
}
.cities .citybox img:hover{
    color: white;
    background-color: rgb(220, 215, 215);
    padding: 7px;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 5px 5px 5px grey;
}

/* Footer-Part */
footer{
    background-color: black;
    height: 100px;
}
.city{
    padding: 10px 35px;
    margin: 8px;
}
.city a{
    color: white;
    text-decoration: none;
}
.city a:hover{
    text-decoration: underline;
}
#footer-cities{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.footer-copyright{
    color: gray;
    display: flex;
    margin: 20px;
    justify-content: center;
}