*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 38, 40);
}

/* Breadcrumb Part */
.breadcrumb-box{
    z-index: 2;
    position: sticky;
    margin: 0;
}

/* Navigation Part */
.container{
    display: flex;
    width: 100%;
    height: 697px;
}
.container::before {
    content: "";
    background: url('bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

.left-panel{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px whitesmoke;
    width: 15%;
    height: 50%;
    margin: 15px;
}
.left-panel ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.left-panel li{
    margin: 35px;
}
.left-panel a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 25px;
}
.left-panel a:hover{
    color: white;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
}

/* Content_Part */
/* Home Page */
.content-area{
    color: rgb(152, 182, 122);
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px whitesmoke;
    width: 82%;
    height: 95%;
    /* margin-left: 200px; */
}
h1{
    font-size: 65px;
    text-shadow: 4px 4px white;
    margin: 90px;
}
.content-area p{
    color: black;
    margin: 90px;
    padding: 65px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(151, 151, 162);
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 15px;
}

/* Contact Page */
h2{
    font-size: 45px;
    text-shadow: 4px 4px white;
    margin: 60px;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myinput{
    font-size: 15px;
    width: 40%;
    padding: 5px;
    margin: 6px;
    /* text-align: center; */
    border: 2px solid #727288;
    border-radius: 10px;
}
#textarea{
    margin: 10px;
    font-size: 15px;
}

.btn{
    color: white;
    padding: 10px 18px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px gray;
    background-color: #525277;
    margin: 20px;
}
.btn:hover{
    cursor: pointer;
}

/* Information Page */
.information{
    color: rgb(152, 182, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 82%;
    height: 90%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lines{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(196, 83, 83); */
    width: 95%;
    height: 250px;
    margin: 4px;
    padding: 10px;
}
.lines li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.line1{
    color: white;
    background-color: #6d6872;
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 70px;
    box-shadow: 3px 3px 3px 3px whitesmoke;
    width: 180px;
    height: 250px;
    margin: 14px;
    padding: 20px;
}
.line1 b{
    background-color: greenyellow;
    opacity: 0.6;
    color: black ;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
    padding: 20px 22px;
}

/* Guide Page */
.guidepage{
    color: rgb(152, 182, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
    height: 90%;
}
.ref{
    color: black;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 217, 224);
    width: 300px;
    height: 200px;
    opacity: 0.7;
}
.ref ul a{
    color: black;
    margin: 17px;
    /* text-decoration: none; */
    font-size: 18px;
}

/* Footer part */
.center{
    color: white;
    opacity: 0.7;
    background-color: black;
    text-align: center;
    position: sticky;
    bottom: 0px;
}
